@using SuperHeroes.Models;
@model List<SuperHeroes.Models.Superhero>
    @{
        ViewBag.Title = "Home Page";
    }


    <img src="~/Content/Images/spidey.jpg" width =" 30%" height=" auto"/>
    <div>
        <table>
        @{ foreach (Superhero superhero in Model)
           {
        <div>
            <tr>
                <td>
                    @Html.DisplayFor(model => superhero.name)
                </td>
                <td>
                    @Html.DisplayFor(model => superhero.primaryAbility)
                </td>                
            </tr>
        </div>
                
           }
        }
        </table>
    </div>
